$blue-bg-gradient: radial-gradient(circle, rgba(21, 59, 127, 1) 0%, rgba(14, 31, 63, 1) 95%);
$white: #ffffff;
$blue-uk: #5a6f94;
$neon-red: #f33d54;
$neon-red-low: #f33d55b6;
$white-low: #ffffffbe;
$bg-grey: #eceef2;
$white-filter: invert(100%) sepia(4%) saturate(872%) hue-rotate(278deg) brightness(117%) contrast(100%);
$grey: #abb5c4;
$blue-uk-new: #233a59;
$blue-uk-new-filter: invert(19%) sepia(11%) saturate(2615%) hue-rotate(175deg) brightness(95%) contrast(91%);
$grey-filter: invert(77%) sepia(5%) saturate(774%) hue-rotate(177deg) brightness(93%) contrast(90%);
$yellow: #f7d80a;
$red: #da2539;
